{% extends 'SmirikCourseBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.main'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.main.title'|trans }} <small>{{ 'admin.main.title.comment'|trans }}</small></h1>
{% endblock %}
