div.control-group div.controls textarea { width: 80%; height: 300px; }
div.well div.control-group div.controls textarea { width: 80%; height: 300px; }

.table tbody tr td.success {
  background-color: #dff0d8;
}

.table tbody tr td.error {
  background-color: #f2dede;
}

.table tbody tr td.warning {
  background-color: #fcf8e3;
}

.table tbody tr td.info {
  background-color: #d9edf7;
}

.table-hover tbody tr td.success:hover {
  background-color: #d0e9c6;
}

.table-hover tbody tr td.error:hover {
  background-color: #ebcccc;
}

.table-hover tbody tr td.warning:hover {
  background-color: #faf2cc;
}

.table-hover tbody tr td.info:hover {
  background-color: #c4e3f3;
}

div.lesson-content div.pull-right.remove { padding: 5px 10px 5px 0px; }
div.lesson-content a.add-lesson-content-form { margin: 0px 0px 15px 0px;}

footer { margin: 0 auto; text-align: center; }

table.propel-admin th.column-header-mark { width: 50px;} 